src/Apworks/Config/ApworksConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="http://apworks.org/Schemas/Configuration" elementFormDefault="qualified" targetNamespace="http://apworks.org/Schemas/Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="apworks" type="tns:Apworks.Config.ApworksConfigSectionCT" />
	<xs:complexType name="Apworks.Config.ApworksConfigSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="application" type="tns:Apworks.Config.ApplicationElementCT">
				<xs:annotation>
					<xs:documentation>The configuration for the Apworks application.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="objectContainer" type="tns:Apworks.Config.ObjectContainerElementCT">
				<xs:annotation>
					<xs:documentation>The configuration for the object container.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="serializers" type="tns:Apworks.Config.SerializerElementCT">
				<xs:annotation>
					<xs:documentation>The configuration for serializers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="generators" type="tns:Apworks.Config.GeneratorElementCT">
				<xs:annotation>
					<xs:documentation>The configuration for identity and sequential generators.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="handlers" type="tns:Apworks.Config.HandlerElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The configuration for command or event handlers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="exceptions" type="tns:Apworks.Config.ExceptionElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The configuration for exception handling logic within Apworks framework.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="interception" type="tns:Apworks.Config.InterceptionElementCT">
				<xs:annotation>
					<xs:documentation>The configuration for the interceptions.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.ApplicationElementCT">
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The provider type of the application.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.ObjectContainerElementCT">
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The provider type of the object container.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="initFromConfigFile" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The boolean value which indicates whether the object container configuration should be initialized from the app/web.config file.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sectionName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name of the configuration section which would be used by the object container if it is designed to be initialized from the app/web.config file.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.EventSerializerElementCT">
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The provider type of the event serializer.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.SnapshotSerializerElementCT">
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The provider type of the snapshot serializer.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.SerializerElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="eventSerializer" type="tns:Apworks.Config.EventSerializerElementCT">
				<xs:annotation>
					<xs:documentation>The configuration for the event serializer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="snapshotSerializer" type="tns:Apworks.Config.SnapshotSerializerElementCT">
				<xs:annotation>
					<xs:documentation>The configuration for the snapshot serializer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.SequenceGeneratorElementCT">
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The type of sequence generator.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.IdentityGeneratorElementCT">
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The type of identity generator.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.GeneratorElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="sequenceGenerator" type="tns:Apworks.Config.SequenceGeneratorElementCT">
				<xs:annotation>
					<xs:documentation>The configuration for the sequence generator.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="identityGenerator" type="tns:Apworks.Config.IdentityGeneratorElementCT">
				<xs:annotation>
					<xs:documentation>The configuration for the identity generator.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.HandlerElementCT">
		<xs:attribute name="kind" use="optional" type="tns:HandlerKind">
			<xs:annotation>
				<xs:documentation>The kind of the handler, can be either Command or Event.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name of the handler.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sourceType" use="required" type="tns:HandlerSourceType">
			<xs:annotation>
				<xs:documentation>The source type, can be either Assembly or Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="source" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name of the source, which could be either the assembly name, when SourceType is Assembly, or the type name, when SourceType is Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.HandlerElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="handler" type="tns:Apworks.Config.HandlerElementCT">
				<xs:annotation>
					<xs:documentation>Represents the configuration for message handlers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.ExceptionHandlerElementCT">
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The type of the exception handler.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.ExceptionHandlerElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="handler" type="tns:Apworks.Config.ExceptionHandlerElementCT">
				<xs:annotation>
					<xs:documentation>Represents the configuration for exception handlers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.ExceptionElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="handlers" type="tns:Apworks.Config.ExceptionHandlerElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Handlers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The type of the exception.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="behavior" use="optional" type="tns:ExceptionHandlingBehavior">
			<xs:annotation>
				<xs:documentation>The behavior of the exception handling.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.ExceptionElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="exception" type="tns:Apworks.Config.ExceptionElementCT">
				<xs:annotation>
					<xs:documentation>Represents the configuration for exception handling.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.InterceptorRefElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.InterceptorElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.InterceptorElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="interceptor" type="tns:Apworks.Config.InterceptorElementCT">
				<xs:annotation>
					<xs:documentation>The InterceptorElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.InterceptionElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="interceptors" type="tns:Apworks.Config.InterceptorElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Interceptors.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="contracts" type="tns:Apworks.Config.InterceptContractElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Contracts.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.InterceptorRefElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="interceptorRef" type="tns:Apworks.Config.InterceptorRefElementCT">
				<xs:annotation>
					<xs:documentation>Represents the configuration for interceptor ref.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.InterceptMethodElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="interceptorRefs" type="tns:Apworks.Config.InterceptorRefElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The InterceptorRefs.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="signature" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Signature.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.InterceptMethodElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="method" type="tns:Apworks.Config.InterceptMethodElementCT">
				<xs:annotation>
					<xs:documentation>Represents the configuration for intercept method.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.InterceptContractElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="methods" type="tns:Apworks.Config.InterceptMethodElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Methods.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Apworks.Config.InterceptContractElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="contract" type="tns:Apworks.Config.InterceptContractElementCT">
				<xs:annotation>
					<xs:documentation>Represents the configuration for intercept contract.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="HandlerKind">
		<xs:annotation>
			<xs:documentation>HandlerKind.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Command">
				<xs:annotation>
					<xs:documentation>Command.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Event">
				<xs:annotation>
					<xs:documentation>Event.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HandlerSourceType">
		<xs:annotation>
			<xs:documentation>HandlerSourceType.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Type">
				<xs:annotation>
					<xs:documentation>Type.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Assembly">
				<xs:annotation>
					<xs:documentation>Assembly.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExceptionHandlingBehavior">
		<xs:annotation>
			<xs:documentation>ExceptionHandlingBehavior.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Direct">
				<xs:annotation>
					<xs:documentation>Direct.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Forward">
				<xs:annotation>
					<xs:documentation>Forward.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
